html {
    height: 100%;
}

body {
    position :relative;
    background-size : cover ;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    height: 100px;
    position: relative;
}

.css-form, .css-question {
    display: none;
}

.toDoInput, .serchGoogle {
    border: 0;
    border-bottom: 2px solid #fff;
    background-color:transparent;
    font-weight: 500;
    font-size: 130%;
    text-align: center;
    color : white;
}

.cont {
    display: block;
}

.centerThings{
    position: relative;
    margin-top : 0px;
}

.clock {
    color : white;
    text-align: center;
    font-size: 4em;
    font-weight: 60;
}

.clock, h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.todolists {
    color : white;
    position: relative;
    text-align: center;
}

.toDoUl {
    font-size: 20px;

}

.hello {
    font-size: 25px;
}

.rightWeather {
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    float: right;
}